.gif-card {
  width: 200px;
  height: 200px;
  margin: 10px;
}

.gif-card .img-gif{
  height: 100%;
  width: 100%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.btns-container{
  position: relative;
  display: flex;
  width: 100%;
  justify-content: space-between;
  top:33px;
}

.btns-container img {
  border: none;
  cursor: pointer;
  height: 30px;
  width: 30px;
  background-color: rgba(175, 168, 168, 0.8);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.modal-on{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background: rgba(0, 0, 0, 1);
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  border-radius: 0%;
}

.modal-off{
  height: 100%;
  width: 100%;
  box-shadow: 0 0 5px 5px rgb(250, 233, 3);
  border-radius: 10px;
}

.img-modal{
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.img-close{
  padding: 7px;
}
